body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  display: block;
}

footer {
  display: block;
  background-color: rgb(105, 207, 238);
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
}

.card {
  display: flex;
  align-items: stretch;
}

.conf-bs-as {
  background-image: url(../imagenes/ba1.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.conf-bs-as-texto {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: rgb(240, 240, 240);
  font-weight: bold;
}